@{
    ViewBag.Title = "Homepage";
}

@Html.Partial("_Header");

<div class="testbox">
    <h1><u>Enterprise Application Development</u></h1>
    <h2><u>Assignment 04</u></h2>
    <hr>
    <hr>
    <p>Made By: <b>Shoaib Zafar</b></p><br>
    <p>Role No: <b>BITF17A531</b></p><br>
    <p>Email: <b>bitf17a531@pucit.edu.pk</b></p><br>
    <p>Class: <b>IT - F17 - Afternoon</b></p><br>
    <hr>
    <p>Choose a category of books: </p>
    <form action="/Home/Books" method="POST">
        <select name="category" id="category">
            <option value="all" selected>All Books</option>
            @foreach (string cat in ViewBag.data)
            {
                <option value="@cat">@cat</option>
            }
        </select>

        <input type="submit" value="View Books" class="button"/>
    </form>
    <hr>
</div>

@Html.Partial("_Footer")